.about_maindiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.themainest {
  padding: 0 100px;
}

.about_section1 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  height: 470px;

  img {
    width: 500px;
    height: 334px;
    border-radius: 12px;
  }
}

.about_text {
  width: 45%;
  padding-left: 40px;

  h1 {
    font-size: 36px;
  }

  p {
    margin-top: 24px;
    font-size: 21px;
    line-height: 30px;
  }
}

.about_section2 {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  height: 470px;

  img {
    width: 500px;
    height: 334px;
    border-radius: 12px;
  }
}

.about_text2 {
  width: 45%;
  padding-left: 40px;

  h1 {
    font-size: 36px;
  }

  p {
    margin-top: 24px;
    font-size: 21px;
    line-height: 30px;
  }
}

.contacts {
  margin: 100px 0 20px 0;
  position: absolute;
  top: 1730px;
  left: 180px;

  p {
    margin: 20px 0;
  }
}

.about_section3 {
  margin-top: 50px;
  margin-bottom: 250px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  height: 470px;

  img {
    width: 500px;
    height: 334px;
    border-radius: 12px;
  }
}
